<div class="container both-user-list">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Emprunteurs et investisseurs</h2>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container excel">
      <div (click)="exportExcel('emprunteurs_et_investisseurs')" class="content">
        <p>Exporter au format Excel</p>
        <p class="btn">télécharger</p>
        <img src="../../../assets/images/user/download.svg" alt="download">
      </div>
    </div>
  </div>
  <div class="box full">
    <div class="box-container">
      <div class="content" id="dvData">
        <table class="table">
          <thead>
          <tr>
            <th>Pseudo</th>
            <th>Age</th>
            <th>Demandé</th>
            <th>Qtt</th>
            <th>Emprunter</th>
            <th>Qtt</th>
            <th>Proposé</th>
            <th>Qtt</th>
            <th>Prêté</th>
            <th>Qtt</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstname }}</td>
            <td>{{ user.birthdate | date:'dd/mm/yyyy' | age }}</td>
            <td><span class="text-bold">{{user | sum: 'projects':'ask':'sum'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'projects':'ask':'num'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'projects':'accepted':'sum'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'projects':'accepted':'num'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'offers':'ask':'sum'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'offers':'ask':'num'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'offers':'accepted':'sum'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'offers':'accepted':'num'}}</span></td>
            <td class="action-container">
              <a routerLink="/utilisateurs/:{{ user.id }}"><i class="show icon-search"></i></a>
              <p><i (click)="openDeletePopin(user.firstname)" class="remove icon-remove"></i></p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="delete-popin hide">
  <div>
    <h2>Êtes vous certain de vouloir supprimer {{ userDelete | titlecase }} des utilisateurs ?</h2>
    <p (click)="closeDeletePopin()" class="yes btn">Oui, je supprime</p>
    <p (click)="closeDeletePopin()" class="return">Annuler</p>
  </div>
</div>
