<div class="container both-user-list">
  <div class="box full">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Emprunteurs et prêteurs</h2>
      </div>
      <div class="content" id="dvData">
        <table class="table">
          <thead>
          <tr>
            <th class="text bold">Id</th>
            <th class="text bold">Pseudo</th>
            <th class="text bold">Age</th>
            <th class="text bold">Ville</th>
            <th class="text bold">Prêté</th>
            <th class="text bold">%</th>
            <th class="text bold">Demandé</th>
            <th class="text bold">Emprunté</th>
            <th class="text bold">%</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>
              <a href="#" class="bg circle small green">
                <span class="text bold black ">{{ user.id }}</span>
              </a>
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.localisation }}</td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'accept', 'sum') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'accept', 'rate') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'ask', 'sum') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'accept', 'sum') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'accept', 'rate') }}
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <p id="btnExport" data-name="utilisateurs_mixtes" class="btn blue excel mb20"><span class="text bold white">Exporter format Excel</span></p>
    </div>
  </div>
</div>

