<div class="container neutral-list">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Utilisateurs sans activité</h2>
      </div>
    </div>
  </div>
  <div class="box full">
    <div class="box-container">
      <div class="content" id="dvData">
        <table class="table">
          <thead>
          <tr>
            <th>Pseudo</th>
            <th>Age</th>
            <th>Ville</th>
            <th>Inscriprion</th>
            <th>Dernière connexion</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}ans</td>
            <td>{{ user.age }}</td>
            <td>{{ user.localisation }}</td>
            <td>{{user.registration | date:'M/d/yyyy' }}</td>
            <td>{{ user.lastCo | date:'M/d/yyyy'  }}</td>
            <td class="action-container">
              <a routerLink="/utilisateurs/:{{ user.id }}"><i class="show icon-search"></i></a>
              <p><i (click)="openDeletePopin(user.firstname)" class="remove icon-remove"></i></p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="delete-popin hide">
  <div>
    <h2>Êtes vous certain de vouloir supprimer {{ userDelete | titlecase }} des utilisateurs ?</h2>
    <p (click)="closeDeletePopin()" class="yes btn">Oui, je supprime</p>
    <p (click)="closeDeletePopin()" class="return">Annuler</p>
  </div>
</div>
