<div class="container contracts">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Contrats</h2>
      </div>
    </div>
  </div>
  <div class="box medium document">
    <div class="content">
      <h1>Contrat Sous Seign Privé</h1>
      <p>Je soussignée <span>Julie Pernot</span>, né à <span>Pars le 25 Novembre 1991</span>, m'engage à régler la somme de <span>275 euros</span>, soit <span>deux cents soixante quinze euros</span> à <span>Monsieur Yvan Dupont</span>.</p>
      <p>Cette somme comprend ma demande de prêt initiale de <span>250</span> euros ainsi que les intérêts de <span>10%</span>, soient <span>25 euros</span></p>
      <p>je m'engage à régler la somme à travers des mensualités de <span>33 euros</span> durant les 3 mois consécutifs, à compte du <span>01 Février 2019</span>.</p>
      <p>Lu et approupé le <span>2 Février 2019</span></p>
      <img src="../../../assets/images/contracts/signatures.png" alt="signatures">
    </div>
  </div>
  <div class="box full document">
    <div class="content musthave bg-tp">
      <h2>Sur ce contrat doivent figurer :</h2>
      <ul>
        <li>Nom, nom de jeune fille et prénom</li>
        <li>Date de naissance et lieu de naissance</li>
        <li>Somme empruntée sans les intérêts</li>
        <li>Somme empruntée avec les intérêts en chiffres et en lettres</li>
        <li>Les intérêts en % et €</li>
        <li>Les mensualités</li>
        <li>La date de la première mensualité</li>
        <li>Les signatures et date</li>
        <li>Mention lu et approuvé</li>
      </ul>
    </div>
  </div>
</div>