<div class="container">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Contrats</h2>
      </div>
    </div>
  </div>
  <div class="box full">
    <div class="content">
      <h3>Contrat Sous Seign Privé</h3>
      <p>Je soussignée <span>Julie Pernot</span>, né à <span>Pars le 25 Novembre 1991</span>, m'engage à régler la somme de <span>2752 euros</span>, soit <span>deux cents soixante quinze euros</span> à <span>Monsieur Yvan Dupont</span>.</p>
      <p>Cette somme comprend ma demande de prêt initiale de <span>250</span> euros ainsi que les intérêts de <span>10%</span>, soient <span>25 euros</span></p>
    </div>
  </div>
</div>