.bg {
  &.circle {
    border-radius: 50%;

    &.small {
      display: inline-block;
      width: 23px;
      height: 23px;
      line-height: 23px;
      text-align: center;
    }
  }
  &.light-grey {
    background-color: $light-grey;
  }
  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.pink {
    background-color: $pink;
  }
  &.light-blue {
    background-color: $light-blue;
  }
  &.dark {
    background-color: $dark-grey;
  }
  &.black {
    background-color: #2d2d2d;
  }
  &.medium-grey {
    background-color: $medium-grey;
  }
}