.bg {
  &.circle {
    border-radius: 50%;

    &.small {
      display: inline-block;
      width: 23px;
      height: 23px;
      line-height: 23px;
      text-align: center;
    }
  }
  &.light-grey {
    background-color: $light-grey;
  }
  &.blue {
    background-color: $blue;
  }
  &.green {
    background-color: $green;
  }
  &.pink {
    background-color: $pink;
  }
  &.light-blue {
    background-color: $light-blue;
  }
  &.dark {
    background-color: $dark-grey;
  }
  &.black {
    background-color: #2d2d2d;
  }
  &.medium-grey {
    background-color: $medium-grey;
  }
  &.gradient-blue {
    background: $gradient-blue;
  }
  &.gradient-pink {
    background: $gradient-pink;
  }
}

.bg-tg {
  background-color: rgba(151, 253, 165, .2) !important;
}

.bg-ty {
  background-color: rgba(253, 237, 151, 0.2) !important;
}

.bg-tb {
  background-color: rgba(151, 233, 253, 0.2) !important;
}

.bg-tp {
  background-color: rgba(255, 204, 191, 0.2) !important;
}