body {
  font-family: $font-text;
  background-color: $light-grey;
  font-size: 14px;
}

.main {
  width: calc(100% - $width-menu );
  margin-left: 200px;
}

.container  {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 10px);
  margin: 50px auto;
  max-width: 1200px;
  align-items: stretch;
}

.img {
  &.wf {
    width: 100%;
    height: auto;
  }

  &.center {
    display: block;
    margin: auto;
  }
}
