.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt40 {
  margin-top: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb5 {
  margin-bottom: 5px;
}
.mr10 {
  margin-right: 10px;
}