.title, .text {
  &.bold {
    font-weight: 500;
  }
  &.light {
    font-weight: 100
  }
  &.blue {
    color: $blue;
  }
  &.green {
    color: $green;
  }
  &.pink {
    color: $pink;
  }
  &.white {
    color: #ffffff;
  }
  &.dark {
    color: $dark-grey;
  }
  &.black {
    color: $black;
  }
  &.light-grey{
    color: $light-grey;
  }
  &.big {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.44px;
  }
  &.medium {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.73px;
  }
  &.small {
    font-size: 16px;
    letter-spacing: 0.73px;
  }
  &.very-small {
    font-size: 14px;
    letter-spacing: 0.64px;
    color: $dark-grey;
    font-weight: 500;
  }
  &.up {
    text-transform: uppercase;
    font-weight: 200;
  }
  &.center {
    text-align: center;
  }
  &.big-underline {
    padding-bottom: 10px;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      width: 120px;
      height: 7px;
      bottom: 0;
      left: -40px;
      display: block;
      position: absolute;
    }

    &.line-green:before {
      background-color: $green;
    }
    &.line-pink:before {
      background-color: $pink;
    }
  }
}

.number {
  font-size: 35px;
  font-weight: 500;
}