@import url('https://fonts.googleapis.com/css?family=Assistant');

$font-text: 'Assistant', sans-serif;

$fontello: 'fontello', sans-serif;

$blue: #5f78f8;
$blue-dark: #455089;
$green: #97fda5;
$pink: #ffccbf;
$light-grey: #edefee;
$width-menu : 200px;
$light-blue: rgb(240, 243, 255);
$dark-grey: rgb(108,108,108);
$medium-grey: #cbcbcb;
$black: #2d2d2d;

$gradient-pink : linear-gradient(to bottom, #ffffff 0%,#ffccc0 99%);
$gradient-blue : linear-gradient(135deg, #667efd 0%,#3b54d5 99%);

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

//.box { @include transform(rotate(30deg)); }
