@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Thasadith:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$font-condensed: 'Source Sans Pro', sans-serif;
$font-text: 'Montserrat', sans-serif;

$fontello: 'fontello', sans-serif;

$blue: #5f78f8;
$green: #97fda5;
$pink: #ffccbf;
$light-grey: #ebebeb;
$width-menu : 200px;
$light-blue: rgb(240, 243, 255);
$dark-grey: rgb(108,108,108);
$medium-grey: #cbcbcb;
$black: #2d2d2d;

$gradient-pink : linear-gradient(to bottom, #ffffff 0%,#ffccc0 99%);
$gradient-blue : linear-gradient(135deg, #667efd 0%,#3b54d5 99%);

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

//.box { @include transform(rotate(30deg)); }
