@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin border-radius($value){
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  border-radius: $value;
}
@mixin background-size($value){
  -o-background-size: $value;
  -webkit-background-size: $value;
  -moz-background-size: $value;
  background-size: $value;
}