<div class="container charte-graphique">
    <div class="box full">
        <div class="box-container">
            <div class="header">
                <h2 class="title light big">Charte graphique</h2>
            </div>
        </div>
    </div>
  <div class="box small">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Couleurs</h2>
      </div>
      <div class="content color-container">
        <span class="bg green"></span>
        <span class="bg pink"></span>
        <span class="bg blue"></span>
        <span class="bg light-blue"></span>
        <span class="bg black"></span>
          <span class="bg dark"></span>
        <span class="bg medium-grey"></span>
        <span class="bg light-grey"></span>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Typographies</h2>
      </div>
      <div class="content text-container">
        <h2 class="text big black">Titre principaux</h2>
        <h3 class="text medium">Titres secondaires</h3>
        <p class="text small">Contenu textuel</p>
        <p class="text very-small">Champs de formulaire</p>
        <p class="text condensed">Infos supplémentaires</p>
        <p class="text condensed up">INFOS AUTRES</p>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Bouton</h2>
      </div>
      <div class="content">
          <p class="btn green center mt0">Test vert</p>
          <p class="btn blue center mt10">Test bleu</p>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container shapes-container">
      <div class="header underline">
        <h2 class="title light medium">Formes</h2>
      </div>
      <div class="content">
          <span class="item cut mb5"></span>
          <span class="item pink"></span>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Formulaires</h2>
      </div>
      <div class="content">
          <span class="input text very-small">Champs à remplir</span>
          <div class="input textarea mt10">
              <textarea placeholder="Plus de chose à remplir" class="text very-small"></textarea>
              <p class="text condensed">400 mots max</p>
          </div>
      </div>
    </div>
  </div>
  <div class="box medium">
    <div class="box-container title-line">
        <div class="header underline">
            <h2 class="title light medium">Souslignement</h2>
        </div>
        <div class="content">
            <div class="bg blue">
                <h3 class="text white big big-underline line-green">Premier titre <br><span class="text green">hello</span></h3>
            </div>
            <div>
                <h3 class="text blue big big-underline line-pink">Deuxième titre</h3>
            </div>
        </div>
    </div>
  </div>
    <div class="box small">
        <div class="box-container">
            <div class="header underline">
                <h2 class="title light medium">Définir valeurs</h2>
            </div>
            <div class="content">
                <h3 class="title medium dark">Somme demandée</h3>
                <p class="text condensed up mt10 center"><span class="text sumAsk">375</span>€</p>
                <form>
                    <div class="range-slider">
                        <label>
                            <input class="range-slider__range sumAsk" type="range" value="375" min="0" max="750">
                        </label>
                        <span class="line-input"></span>
                    </div>
                </form>

                <h3 class="title medium dark mt40">Echéance de remboursement</h3>
                <p class="text condensed up mt10 center"><span class="text timeAsk">6</span>mois</p>
                <form>
                    <div class="range-slider">
                        <label>
                            <input class="range-slider__range timeAsk" type="range" value="6" min="1" max="12">
                        </label>
                        <span class="line-input"></span>
                    </div>
                </form>

            </div>
        </div>
    </div>
  <div class="box small">
    <div class="box-container title-line">
        <div class="header underline">
            <h2 class="title light medium">Checkbox</h2>
        </div>
        <div class="content">
            <p class="text small dark check checked">66€ le 22/01/2018</p>
            <p class="text small dark check ">66€ le 22/02/2018</p>
            <p class="text small dark check ">66€ le 22/03/2018</p>
        </div>
    </div>
  </div>
    <div class="box small">
        <div class="box-container">
            <div class="header underline">
                <h2 class="title light medium">Financements</h2>
            </div>
            <div class="content">
                <div class="container-financement">
                    <h3 class="text medium">Titre</h3>
                    <p class="text small blue">Lien</p>
                    <p class="text small dark mt10 mb5">Etat du remboursement</p>
                    <div class="bg light-blue">
                        <p class="text small dar">268€</p>
                        <p class="text small dark">sur 560€</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



