<header>
  <section class="top">
  </section>
  <div class="container-nav">
    <nav class="nav">
      <h1><a routerLink="/"><img src="../../assets/images/logo.png" alt="{{ title }}"></a></h1>
      <ul class="list-menu">
        <li><h2><a class="active" routerLink="/" (click)="activeLinks($event)"><i></i>Dashboard</a></h2></li>
        <li><a routerLink="/" (click)="activeLinks($event)">Euko assistant</a></li>
        <li><a routerLink="/utilisateurs" (click)="activeLinks($event)">Statistiques utilisateurs</a></li>
        <li><a routerLink="/projets" (click)="activeLinks($event)">statistiques projets</a></li>
        <li><h3><a routerLink="/utilisateurs" (click)="activeLinks($event)"><i></i>Utilisateurs</a></h3></li>
        <li><a routerLink="/utilisateurs/tous" (click)="activeLinks($event)">Tous</a></li>
        <li><a routerLink="/utilisateurs/emprunteurs" (click)="activeLinks($event)">Emprunteurs</a></li>
        <li><a routerLink="/utilisateurs/investisseurs" (click)="activeLinks($event)">Investisseurs</a></li>
        <li><a routerLink="/utilisateurs/mixtes" (click)="activeLinks($event)">Mixtes</a></li>
        <li><a routerLink="/utilisateurs/innactifs" (click)="activeLinks($event)">Innactifs</a></li>
        <li><h3><a routerLink="/projets" (click)="activeLinks($event)"><i></i>Projets</a></h3></li>
        <li><a routerLink="/projets/liste" (click)="activeLinks($event)">Tous</a></li>
        <li><a routerLink="/projets/a-valider" (click)="activeLinks($event)">A valider</a></li>
        <li><h3><a routerLink="/informations/parametres" (click)="activeLinks($event)"><i></i>Informations</a></h3></li>
        <li><a routerLink="/informations/parametres" (click)="activeLinks($event)">Paramètres</a></li>
        <li><a routerLink="/informations/contrats" (click)="activeLinks($event)">Contrats</a></li>
      </ul>
    </nav>
  </div>
</header>
