<div class="popin-container">
    <div class="content">
        <p>Hello</p>
    </div>
</div>
<div class="container investor-list">
    <div class="box full">
        <div class="box-container">
            <div class="header">
                <h2 class="title">Investisseurs</h2>
            </div>
        </div>
    </div>
    <div class="box small">
        <div class="box-container excel">
            <div (click)="exportExcel('investisseurs')" class="content">
                <p>Exporter au format Excel</p>
                <p class="btn">télécharger</p>
                <img src="../../../assets/images/user/download.svg" alt="download">
            </div>
        </div>
    </div>
    <div class="box full">
        <div class="box-container">
            <div class="content" id="dvData">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Age</th>
                        <th>Refusées</th>
                        <th>Qtt</th>
                        <th>%</th>
                        <th>En attentes</th>
                        <th>Qtt</th>
                        <th>%</th>
                        <th>Prêtées</th>
                        <th>Qtt</th>
                        <th>%</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.birthdate | date:'dd/mm/yyyy' | age }}</td>
                        <td><span class="text-bold">{{user | sum: 'offers':'rejected':'sum'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'rejected':'num'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'rejected':'perc'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'waiting':'sum'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'waiting':'num'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'waiting':'perc'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'accepted':'sum'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'accepted':'num'}}</span></td>
                        <td><span class="text-bold">{{user | sum: 'offers':'accepted':'perc'}}</span></td>
                        <td class="action-container">
                            <p><i class="show icon-search"></i></p>
                            <p><i (click)="openDeletePopin(user.firstname)" class="remove icon-remove"></i></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="delete-popin hide">
    <div>
        <h2>Êtes vous certain de vouloir supprimer {{ userDelete | titlecase }} des utilisateurs ?</h2>
        <p (click)="closeDeletePopin()" class="yes btn">Oui, je supprime</p>
        <p (click)="closeDeletePopin()" class="return">Annuler</p>
    </div>
</div>

