<div class="container investor-list">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Investisseurs</h2>
      </div>
      <div class="content" id="dvData">
        <table class="table">
          <thead>
          <tr>
            <th class="text bold">Id</th>
            <th class="text bold">Pseudo</th>
            <th class="text bold">Refusées</th>
            <th class="text bold">Qtt</th>
            <th class="text bold">%</th>
            <th class="text bold">En attentes</th>
            <th class="text bold">Qtt</th>
            <th class="text bold">%</th>
            <th class="text bold">Prêtées</th>
            <th class="text bold">Qtt</th>
            <th class="text bold">%</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>
              <a href="#" class="bg circle small green">
                <span class="text bold black ">{{ user.id }}</span>
              </a>
            </td>
            <td>
              {{ user.username }}
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'reject', 'sum') }}
              </span>
            </td>
            <td>
              <span class="text">
                    {{ getSum(user.investment, 'reject', 'number') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'reject', 'rate') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'waiting', 'sum') }}
              </span>
            </td>
            <td>
              <span class="text">
                    {{ getSum(user.investment, 'waiting', 'number') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'waiting', 'rate') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'accept', 'sum') }}
              </span>
            </td>
            <td>
              <span class="text">
                    {{ getSum(user.investment, 'accept', 'number') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.investment, 'accept', 'rate') }}
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <p id="btnExport" data-name="investisseurs" class="btn blue excel mb20"><span class="text bold white">Exporter format Excel</span></p>
    </div>
  </div>
</div>

