<div class="container investor-list">
    <div class="box full">
        <div class="box-container">
            <div class="header">
                <h2 class="title">Investisseurs</h2>
            </div>
        </div>
    </div>
    <div class="box small">
        <div class="box-container excel">
            <div class="content" id="btnExport" data-name="investisseurs">
                <p>Exporter au format Excel</p>
                <p class="btn">télécharger</p>
                <img src="../../../assets/images/user/download.svg" alt="download">
            </div>
        </div>
    </div>
    <div class="box full">
        <div class="box-container">
            <div class="content" id="dvData">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pseudo</th>
                        <th>Refusées</th>
                        <th>Qtt</th>
                        <th>%</th>
                        <th>En attentes</th>
                        <th>Qtt</th>
                        <th>%</th>
                        <th>Prêtées</th>
                        <th>Qtt</th>
                        <th>%</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

