.box {
  &.small {
    width: 25%;
    @media screen and (max-width: 1024px) {
      width: 50%;
    }
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
  &.medium {
    width: 50%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  &.full {
    width: 100%;
  }

  &.small,
  &.medium {
    .content {
      height: calc(100% - 68px);
      justify-content: center;
      display: flex;
      &:not(.row) {
        flex-direction: column;
      }
    }
  }
  .header {
    padding: 10px 15px;
    display: block;
    position: relative;
    background-color: rgba(0,0,0,.03);

    .title {
      font-size: 14px;
      letter-spacing: .2px;
      font-weight: 600;
      color: rgba(0,0,0,.6);
      text-transform: uppercase;
    }
  }

  .box-container {
    background-color: white;
    border-radius: 3px;
    margin: 5px;
    //height: calc( 100% - 10px);
    &:not(.no-border) {
      border: solid 2px $light-grey;
    }
  }

  .content {
    padding: 20px 15px;

    &.row {
      align-items: center;
      .child {
        &.col2{
          width: 50%;
        }
      }
    }
  }
}

.change-view {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.box-blue {
  border: solid 1px $blue;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.number {
  &.less:after,
  &.more:after {
    font-family: $fontello;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
  }
  &.less:after {
    content: '\E80F';
    color: red;
  }
  &.more:after {
    content: '\E810';
    color: $green;
  }
}
#dvData {
  padding: 0;
}

.delete-popin {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  transition: opacity ease-out .3s;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  div {
    background-color: white;
    width: 90%;
    max-width: 600px;
    padding: 40px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .yes {
    background-color: $blue;
    line-height: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: 30px auto 20px;
    transition: background-color ease-out .3s;
    &:hover {
      background-color: #596eda;
    }
  }

  .return {
    color: $medium-grey;
    border-bottom: solid 1px $medium-grey;
    padding-bottom: 3px;
    display: block;
    margin: auto;
    text-align: center;
    width: 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color ease-out .3s;
    &:hover {
      color: $dark-grey;
    }
  }
}