.box {
  &.small {
    width: 25%;
  }
  &.medium {
    width: 50%;
  }

  &.full {
    width: 100%;
  }

  .header {
    padding: 10px 15px;
    display: block;
    position: relative;
  }

  .box-container {
    background-color: white;
    border-radius: 3px;
    margin: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
    height: calc( 100% - 10px);
  }

  .content {
    padding: 20px 15px;

    &.flex {
      @include flex;

      .child {
        &.col2{
          width: 50%;
        }
      }
    }
  }
}

.change-view {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.box-blue {
  border: solid 1px $blue;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,0.2);
}