<div class="container user" #scrollMe>
  <div class="box small">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Projets financés</h2>
      </div>
      <div class="content">
        <p class="number more pr">257</p>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Somme</h2>
      </div>
      <div class="content">
        <p class="number more pr">89 950€</p>
        <p>Prêtés au total</p>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Moyenne</h2>
      </div>
      <div class="content">
        <p class="number">350€</p>
        <p>Prêtés en moyenne</p>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Ecart des prêts</h2>
      </div>
      <div class="content">
        <p><span class="number">760€</span> empruntés au maximum</p>
        <p><span class="number">50€</span> emprunté au minimum</p>
      </div>
    </div>
  </div>
  <div class="box medium">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Demandes et financements</h2>
      </div>
      <div class="content">
        <canvas id="askLoan"></canvas>
      </div>
    </div>
  </div>
  <div class="box medium">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Nombre d'empruns</h2>
      </div>
      <div class="content row">
        <canvas id="numberLoan"></canvas>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Etat des demandes</h2>
      </div>
      <div class="content">
        <p><span class="number">11</span> en attentes du contrat</p>
        <p><span class="number">32</span> en attentes de financement</p>
        <p><span class="number">125</span> abandonnées</p>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Durées de remboursement</h2>
      </div>
      <div class="content">
        <p><span class="number">3</span> mois en moyenne</p>
        <p><span class="number">1</span> mois minimum</p>
        <p><span class="number">11</span> mois maxium</p>
      </div>
    </div>
  </div>
</div>
