<div class="container project-kanban">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Liste des projets</h2>
        <div class="change-view">
          <a routerLink="/projet/liste" class="icon-list text dark mr10"></a>
          <a routerLink="/projet/kanban" class="icon-kanban text light-grey"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="box small" *ngFor="let project of projects">
    <div class="box-container">
      <div class="header">
        <h2 class="title">{{ project.title }}</h2>
      </div>
      <div class="content">
        <p class="title bold big dark">{{ project.price }}€</p>
        <p>{{ project.description }}</p>
        <p class="mt20"><span class="title bold medium blue">{{ project.interests }}</span> d'intérêt</p>
        <p *ngIf="project.timeLaps"><span class="title bold medium blue">{{ project.timeLaps }}</span> mois pour rembourser</p>
        <a class="btn blue" routerLink="/user-list"><span class="text bold white">Voir</span></a>
      </div>
    </div>
  </div>
</div>