<div class="container user-list">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Utilisateurs</h2>
      </div>
      <div class="content" id="dvData">
        <table class="table">
          <thead>
          <tr>
            <th class="text bold">Prénom</th>
            <th class="text bold">Age</th>
            <th class="text bold">Ville</th>
            <th class="text bold">Statut</th>
            <th class="text bold">Argent prêté</th>
            <th class="text bold">Argent reçu</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstname }}</td>
            <td>{{ user.birthdate | date:'dd/mm/yyyy' | age }}</td>
            <td>{{ user.city }}</td>
            <td>{{user | function }}</td>
            <td><span class="text-bold">{{user | sum: 'offers':'accepted'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'projects':'accepted'}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <p id="btnExport" data-name="utilisateurs" class="btn blue excel mb20"><span class="text bold white">Exporter format Excel</span></p>
    </div>
  </div>
</div>

