<div class="container user-list">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Utilisateurs</h2>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container excel">
      <div (click)="exportExcel('emprunteurs')" class="content">
        <p>Exporter au format Excel</p>
        <p class="btn">télécharger</p>
        <img src="../../../assets/images/user/download.svg" alt="download">
      </div>
    </div>
  </div>
  <div class="box full">
    <div class="box-container">
      <div class="content" id="dvData">
        <table class="table">
          <thead class="bg-tb">
          <tr>
            <th>Prénom</th>
            <th>Age</th>
            <th>Ville</th>
            <th>Statut</th>
            <th>Argent prêté</th>
            <th>Argent reçu</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstname }}</td>
            <td>{{ user.birthdate | date:'dd/mm/yyyy' | age }}</td>
            <td>{{ user.city }}</td>
            <td>{{user | function }}</td>
            <td><span class="text-bold">{{user | sum: 'offers':'accepted'}}</span></td>
            <td><span class="text-bold">{{user | sum: 'projects':'accepted'}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

