* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "assets/scss/general/variables";
@import 'assets/scss/element/perfect-scrollbar';
@import "assets/scss/general/mixin";
@import "assets/scss/general/font";
@import "assets/scss/general/global";
@import "assets/scss/general/background";
@import "assets/scss/general/text";
@import "assets/scss/element/button";
@import "assets/scss/general/margin";
@import "assets/scss/element/input";
@import "assets/scss/element/box";
@import "assets/scss/element/input-slider";
@import "assets/scss/blocks/header";
@import "assets/scss/blocks/table";
@import "assets/scss/blocks/graphic";
