<div class="container project-liste">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Liste des projets</h2>
        <div class="change-view">
          <a routerLink="/projet/liste" class="icon-list text light-grey mr10"></a>
          <a routerLink="/projet/kanban" class="icon-kanban text dark"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="box full">
    <div class="box-container">
      <div class="content" id="dvData">
        <table class="table">
          <thead>
          <tr>
            <th class="text bold">Id</th>
            <th class="text bold">Titre</th>
            <th class="text bold">Prix</th>
            <th class="text bold">Description</th>
            <th class="text bold">%</th>
            <th class="text bold">Durée</th>
            <th class="text bold">Création</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of projects">
            <td>
              <a href="#" class="bg circle small green">
                <span class="text bold black ">{{ project.id }}</span>
              </a>
            </td>
            <td>{{ project.title }}</td>
            <td>{{ project.price }}€</td>
            <td>{{ project.description }}</td>
            <td>{{ project.interests }}</td>
            <td>{{ project.timeLaps }}mois</td>
            <td>{{ project.createdAt | date:'dd/mm/yyyy' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <p id="btnExport" data-name="liste_projets" class="btn blue excel mb20"><span class="text bold white">Exporter format Excel</span></p>
    </div>
  </div>
</div>





