<div class="container project-liste">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Liste des projets</h2>
        <div class="change-view">
          <a routerLink="/projets/liste" class="icon-list text light-grey mr10"></a>
          <a routerLink="/projets/kanban" class="icon-kanban text dark"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container excel">
      <div (click)="exportExcel('liste_projets')" class="content">
        <p>Exporter au format Excel</p>
        <p class="btn">télécharger</p>
        <img src="../../../assets/images/user/download.svg" alt="download">
      </div>
    </div>
  </div>
  <div class="box full">
    <div class="box-container">
      <div class="content" id="dvData">
        <table class="table">
          <thead class="bg-tb">
          <tr>
            <th>Titre</th>
            <th>Prix</th>
            <th>Description</th>
            <th>%</th>
            <th>Durée</th>
            <th>Création</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.title }}</td>
            <td>{{ project.price }}€</td>
            <td>{{ project.description }}</td>
            <td>{{ project.interests }}</td>
            <td>{{ project.timeLaps }}mois</td>
            <td>{{ project.createdAt | date:'dd/mm/yyyy' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





