<div class="container user">
  <div class="box small">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Utilisateurs</h2>
      </div>
      <div class="content">
        <p class="title bold big dark">852</p>
        <p>D'tilisateurs inscris sur Euko</p>
        <p class="mt20"><span class="title bold medium blue">37,5 %</span> de femmes</p>
        <p><span class="title bold medium blue">62,5 %</span> d'homme</p>
        <a class="btn blue" routerLink="/user-list"><span class="text bold white">Tous</span></a>
      </div>
    </div>
  </div>
  <div class="box medium">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Inscription</h2>
      </div>
      <div class="content">
        <canvas class="chart-container" id="inscriptionChart" data-type="line" data-value="[24,56,320,210,40,32,86,21,54,200,256,32,54,41]"></canvas>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header">
        <h2 class="title light medium">Titre</h2>
      </div>
      <div class="content">

      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Titre</h2>
      </div>
      <div class="content">
        <p class="text bold">Utilisateurs actifs</p>
        <span class="graph-line large"><span class="green"></span></span>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Activités</h2>
      </div>
      <div class="content">
        <p class="title bold big dark ligh">+142</p>
        <p class="mb20">Comptes au cours de ce mois</p>
        <p class="text"><span class="title medium bold pink mr10">154</span>Nouveaux comptes</p>
        <p class="text"><span class="title medium bold pink mr10">12</span>Comptes supppimés</p>
      </div>
    </div>
  </div>
  <div class="box medium">
    <div class="box-container">
      <div class="header underline">
        <h2 class="title light medium">Proportions</h2>
      </div>
      <div class="content flex">
        <div class="child col2">
          <canvas class="chart-container" id="blablaChart" data-type="doughnut" data-value="[230,521,186,132]" data-label="users"></canvas>
        </div>
        <div class="child col2">
          <ul>
            <li class="light-underline"><a routerLink="/investors" class="text bold dark"><span class="title bold pink medium mr10">230</span>Investisseurs</a></li>
            <li class="light-underline"><a routerLink="/borrowers" class="text bold dark"><span class="title bold green medium mr10">521</span>Emprunteurs</a></li>
            <li class="light-underline"><a routerLink="/both" class="text bold dark"><span class="title bold blue medium mr10">186</span>Mixtes</a></li>
            <li><a routerLink="/neutral" class="text bold dark"><span class="title bold light-grey medium mr10">132</span>Neutres</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


