<div class="container user">
    <div class="box small">
        <div class="box-container">
            <div class="header bg-tg">
                <h2 class="title">Utilisateurs</h2>
            </div>
            <div class="content">
                <p class="number more">852</p>
                <p>D'tilisateurs inscris sur Euko</p>
            </div>
        </div>
    </div>
    <div class="box small">
        <div class="box-container">
            <div class="header bg-tp">
                <h2 class="title">Inscription</h2>
            </div>
            <div class="content">
                <p class="number less">64</p>
                <p>Aujourd'hui</p>
            </div>
        </div>
    </div>
    <div class="box small">
        <div class="box-container">
            <div class="header bg-ty">
                <h2 class="title">Inscription</h2>
            </div>
            <div class="content">
                <p class="number more">142</p>
                <p>Ce mois</p>
            </div>
        </div>
    </div>
    <div class="box small">
        <div class="box-container">
            <div class="header bg-tb">
                <h2 class="title">Parité</h2>
            </div>
            <div class="content">
                <p><span class="number">37</span>% de femmes</p>
                <p><span class="number">62</span>% d'homme</p>
            </div>
        </div>
    </div>
    <div class="box medium">
        <div class="box-container">
            <div class="header">
                <h2 class="title">Inscription</h2>
            </div>
            <div class="content">
                <canvas class="chart-container" id="inscriptionChart" data-type="line"
                        data-value="[24,56,320,210,40,32,86,21,54,200,256,32,54,41]"></canvas>
            </div>
        </div>
    </div>
    <div class="box medium">
        <div class="box-container">
            <div class="header">
                <h2 class="title">Proportions</h2>
            </div>
            <div class="content row">
                <div class="child col2">
                    <canvas class="chart-container" id="blablaChart" data-type="doughnut" data-value="[230,521,186,132]"
                            data-label="users"></canvas>
                </div>
                <div class="child col2">
                    <ul>
                        <li class="light-underline"><a routerLink="/investors" class="text bold dark"><span
                                class="title bold pink medium mr10">230</span>Investisseurs</a></li>
                        <li class="light-underline"><a routerLink="/borrowers" class="text bold dark"><span
                                class="title bold green medium mr10">521</span>Emprunteurs</a></li>
                        <li class="light-underline"><a routerLink="/both" class="text bold dark"><span
                                class="title bold blue medium mr10">186</span>Mixtes</a></li>
                        <li><a routerLink="/neutral" class="text bold dark"><span
                                class="title bold light-grey medium mr10">132</span>Neutres</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


