<div class="container home">
    <div class="box full chat-bot">
        <div class="box-container">
            <div class="header">
                <h2 class="title">Euko assistant</h2>
            </div>
        </div>
    </div>
    <div class="box full chat-bot">
        <div class="box-container no-border">
            <div class="content">
                <ul #scrollMe class="messages">
                    <div>
                        <div *ngFor="let msg of resultados; let i = index ">
                            <li class="message appeared" [ngClass]="{'left':msg.remetente === 'boot',
                        'right':msg.remetente === 'eu'     }">
                                <div *ngIf="msg.remetente === 'boot'" class="avatar"></div>
                                <div class="text">
                                    <p *ngIf="i > 0" class="time"> {{msg.data | date:'HH:mm:ss'}}</p>
                                    <p *ngIf="i > 0" class="msg">{{msg.mensagem}}</p>
                                    <p *ngIf="i == 0" class="msg">Bonjour ! Comment puis-je vous aider ?</p>
                                </div>
                            </li>
                        </div>
                    </div>

                </ul>
                <div class="send-msg">
                    <div class="text">
                        <input type="text" class="form-control " (keyup.enter)="sendMessage()" [(ngModel)]="msg"/>
                    </div>
                    <img class="picto" src="../../assets/images/icons/paper-plane.svg" alt="envoyer message"
                         (click)="sendMessage()">
                </div>
            </div>
        </div>
    </div>
</div>