<div class="container borrower-list">
  <div class="box full">
    <div class="box-container">
      <div class="header">
        <h2 class="title">Emprunteurs</h2>
      </div>
    </div>
  </div>
  <div class="box small">
    <div class="box-container excel">
      <div class="content" id="btnExport" data-name="emprunteurs">
        <p>Exporter au format Excel</p>
        <p class="btn">télécharger</p>
        <img src="../../../assets/images/user/download.svg" alt="download">
      </div>
    </div>
  </div>
  <div class="box full">
    <div class="box-container">
      <div class="content" id="dvData">
        <table class="table">
          <thead class="bg-ty">
          <tr>
            <th class="text bold">Id</th>
            <th class="text bold">Pseudo</th>
            <th class="text bold">Age</th>
            <th class="text bold">Demande</th>
            <th class="text bold">Refusées</th>
            <th class="text bold">%</th>
            <th class="text bold">En attentes</th>
            <th class="text bold">%</th>
            <th class="text bold">Empruntées</th>
            <th class="text bold">%</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>
              <a href="#" class="bg circle small green">
                <span class="text bold black ">{{ user.id }}</span>
              </a>
            </td>
            <td>
              {{ user.username }}
            </td>
            <td>
              {{ user.age }}ans
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'all', 'sum') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'reject', 'number') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'reject', 'rate') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'waiting', 'number') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'waiting', 'rate') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'accept', 'number') }}
              </span>
            </td>
            <td>
              <span class="text bold">
                    {{ getSum(user.loaning, 'accept', 'rate') }}
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

